.text-green{
    color: green;
}

.text-red{
    color: red;
}

.list-type-none{
    list-style-type: none;
}

.complete {
    text-decoration: line-through;
}

.text-italic{
    font-style: italic;
}